<div class="banner-text">
	<div class="d-flex justify-content-center">
		<h1>Votaciones</h1> 
	</div>
	<div class="d-flex justify-content-center" style="margin-top: 10px;">
		<form id="form" autocomplete="off" action="javascript:void(0);">
			<label style="color: white;">ID Votante: </label> 
			<input id="id" type="text" class="form-control, align-middle" style="width: min-content; margin-left: 3px;" required/>
			<br>
		</form>
	</div>
	<div class="d-flex justify-content-center">
		<a class="btn secondary" type="submit" (click)="login(content)">Votar</a>
	</div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
	  <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
	  <button type="button" class="close" aria-label="Close" (click)="d('Cross click'); router.navigate(['login'])">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
	  <p>{{ modelContent }}</p>
	</div>
	<div class="modal-footer">
	  <!-- <button *ngIf="success" type="button" class="btn btn-success" (click)="c('Save click'); router.navigate(['vote'])">Aceptar</button>  -->
	  <button *ngIf="!success" type="button" class="btn btn-danger" (click)="c('Save click'); router.navigate(['login'])">Aceptar</button>
	</div>
  </ng-template>

<div class="animation-area">
	<ul class="box-area">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>