.background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #8942a8, #ba382f);
}

h2 {
    text-align: center;
    font-size: 50px;
    color: white;
}

.row {
    margin-left: 2px;
    margin-right: 2px;
}

.btn {
    color: white;
}

.num {
    padding: 2px;
    margin-right: 10px;
}